<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;  <%= link_to("ptenteromano 2016", "https://www.tenteromano.com/", target: :_blank) %>
      All Rights Reserved
    </small>
    <nav>
      <ul>
        <li><script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
